<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>
</head>
<body>
    <table>
        <tr>
            <th>Nom</th>
            <th>Length</th>
            <th>Width</th>
        </tr>
        {% for way in ways %}
        <tr>
            <td>{{ way.get_name() }}</td>
            <td>{{ way.get_length_max() }}</td>
            <td>{{ way.get_width() }}</td>
            <td><a href="{{ url_for('way_bp.formulaire') }}?page={{ page }}&&route={{ way.get_name() }}"><button>Ajouter</button></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>